#selected-components-count {
    display: inline-block;
}

#selected-components-warning {
    vertical-align: middle;
    color: orange;
}

body:not(.component-warning) #selected-components-warning {
    display: none;
}

#filter-scope {
    margin-right: 16px;
}

#filter-actions {
    display: inline-block;
    margin-top: 2px;
}

#component-filter.disabled {
    color: #bbb;
    background: #f8f8f8;
}

label[for="filter-selected"].disabled {
    color: #bbb;
}

#components {
    width: 100%;
    margin-top: 8px;
    border-collapse: collapse;
}

#components th,
#components td {
    padding: 8px 5px;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #aaa;
}

#components tr.row:hover {
    background-color: #e0e0e0;
}

#components-th-cb {
    width: 0;
}

#components-th-name {
    width: 15em;
}

#components .row .name {
    font-weight: bold;
}

#components .row .team {
    width: 10em;
}

#components .row label {
    display: block;
}

#no-matching-components {
    margin-top: 16px;
}

#tab-components:not(.no-matching-components) #no-matching-components {
    display: none;
}

#tab-components.no-matching-components #components {
    display: none;
}
