.bugtable-container {
    display: inline-block;
    margin-bottom: 16px;
}

.bugtable th {
    vertical-align: bottom;
}

.bugtable tr:not(.no-border) th:not(:last-child),
th.force-border,
.bugtable tr td:not(:last-child, .no-border, .sub-border),
td.force-border {
    border-right: 1px solid #aaa;
}

th.sub-border,
td.sub-border {
    border-right: 1px solid #eee;
}

.bugtable th.spanned {
    vertical-align: middle;
    text-align: center;
}

.trends-defects .bugtable-header .info {
    flex-grow: 1;
    text-align: right;
}

.trends-defects .bugtable-header .info a {
    font-size: 13px;
    color: unset;
}

.trends-defects .bugtable-header .actions {
    flex-grow: unset;
}

.trends-defects .bugtable .sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trends-defects .bugtable .sub-header .actions {
    display: flex;
}

.trends-defects .bugtable .sub-header .action {
    display: flex;
    align-items: center;
    cursor: default;
}
