.buglist-container {
    margin-bottom: 6px;
}

.buglist-container.closed .buglist-header .toggle::after {
    font-size: 75%;
    content: "▶";
}

.buglist-container:not(.closed) .buglist-header .toggle::after {
    font-size: 75%;
    content: "▼";
}

.buglist-container.no-bugs:not(.lazy) .toggle,
.buglist-container.no-bugs .summary {
    color: #bbb;
}

.buglist-container.error .buglist-header .counter {
    color: #a64a5c;
}

.buglist-group {
    margin-bottom: 16px;
}

.buglist-group-actions {
    margin-bottom: 1px;
    font-size: 14px;
    text-align: right;
    white-space: nowrap;
}

.buglist-group-actions a {
    color: #444;
}

.buglist-group-actions a:hover {
    color: #008080;
}

.buglist-header {
    display: flex;
    gap: 8px;
    font-weight: bold;
    color: #28292a;
    cursor: pointer;
    background: #eee;
    border: 1px solid #28292a;
    border-radius: 4px;
}

.buglist-container:not(.closed) .buglist-header {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.buglist-header:hover {
    background: #ddd;
}

.buglist-container .actions button,
.buglist-container .actions .info {
    padding: 2px 4px;
    font-size: 22px;
}

.buglist-container .actions .info {
    display: inline-block;
}

.buglist-container .actions .action {
    display: inline-block;
}

.buglist-container .actions .order-btn:not([data-mode="default"]) {
    color: #008080;
}

.buglist-header > div {
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.buglist-header .toggle {
    padding: 8px 0 8px 16px;
}

.buglist-container:not(.loading) .buglist-header .loading-spinner {
    display: none;
}

.buglist-container.loading:not(.lazy) .buglist-header .counter,
.buglist-container.loading:not(.lazy) .buglist-header .counter-guidelines {
    display: none;
}

.buglist-header .counter {
    color: #008080;
}

.buglist-header .counter-guidelines {
    margin-left: 8px;
    font-size: 13px;
    color: #666;
}

.buglist-header .actions {
    flex-grow: 1;
    text-align: right;
}

.buglist-container.closed .buglist {
    display: none;
}

.buglist-container.closed .buglist-loading,
.buglist-container:not(.loading, .lazy-unloaded) .buglist-loading {
    display: none;
}

.buglist-container.lazy.lazy-unloaded .buglist-header .loading-spinner {
    display: none;
}

.buglist-loading {
    padding: 8px;
    font-style: italic;
    border: 1px solid #28292a;
    border-top: none;
}

.buglist {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #28292a;
    border-top: none;
}

#help-buglist {
    cursor: default;
}

#help-buglist.buglist {
    border: 1px solid #28292a;
}

.buglist a {
    color: #000;
    text-decoration: none;
}

.buglist a:hover {
    text-decoration: underline;
}

.buglist .bug-id a {
    color: #006cbf;
}

.buglist .bug-id a:visited {
    color: #9248c8;
}

.buglist tr.odd {
    background: #fff;
}

.buglist tr.even {
    background: #eee;
}

.buglist td {
    padding: 2px 8px;
}

.bug-row td:first-child {
    padding-left: 12px;
}

.bug-row td:last-child {
    padding-right: 12px;
}

.bug-row:not(.bug-meta) td {
    padding-top: 8px;
}

.bug-row .bug-icons span {
    margin-right: 4px;
}

.bug-row .bug-icons .needinfo {
    color: #4169e1;
}

.bug-row.bug-meta td {
    padding-bottom: 8px;
    font-size: 13px;
    vertical-align: top;
    color: #777;
    white-space: nowrap;
}

.bug-row.bug-meta td.keywords {
    width: 100%;
    white-space: normal;
}

.bug-row .bug-id {
    vertical-align: top;
}

.bug-row .bug-summary {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    overflow-wrap: anywhere;
}

.buglist .bug-meta .type {
    color: #aaa;
}

.buglist .bug-meta .groups {
    color: #dc143c;
}

.bug-row.bug-meta td:last-child {
    text-align: right;
}

.bug-row .component {
    padding-right: 32px;
    padding-left: 32px;
}

.bug-row .keyword-sec-critical,
.bug-row .keyword-sec-high {
    color: #dc143c;
}
