.bugtable-container {
    color: #000;
    background: #fff;
    border: 1px solid #28292a;
    border-radius: 4px;
}

.bugtable-header {
    display: flex;
    gap: 8px;
    font-weight: bold;
    color: #28292a;
    background: #eee;
    border-radius: 4px;
}

.bugtable-header > div {
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.bugtable-container:not(.loading) .bugtable-header .loading-spinner {
    display: none;
}

.bugtable-container:not(.error) .bugtable-header .error {
    display: none;
}

.bugtable-header .error {
    color: #a64a5c;
}

.bugtable-header .actions {
    flex-grow: 1;
    text-align: right;
}

.bugtable-header .actions button,
.bugtable-header .actions .info {
    padding: 2px 4px;
    font-size: 22px;
}

.bugtable {
    padding: 8px;
    border-spacing: 0;
}

.bugtable a {
    color: #000;
    text-decoration: none;
}

.bugtable a:hover {
    text-decoration: underline;
}

.bugtable-container th {
    min-width: 3em;
    vertical-align: top;
}

.bugtable-container th,
.bugtable-container td {
    padding: 4px 8px;
    text-align: right;
}
