#dialog-wrapper {
    align-items: center;
    background-color: rgb(49 49 49 / 50%);
    color: #313131;
    display: flex;
    font-size: 10px;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    width: 100vw;
}

#dialog {
    position: relative;
    box-sizing: border-box;
    width: 85vw;
    max-width: 30em;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.4em;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
}

#dialog-message {
    padding: 15px;
    font-size: 1.6em;
    text-align: center;
}

#dialog.dialog-prompt #dialog-message {
    font-weight: bold;
}

#dialog-input {
    width: calc(100% - 20px);
    padding: 4px;
    margin: 4px;
    resize: none;
}

#dialog.dialog-alert #dialog-message {
    padding: 40px 20px;
}

#dialog.dialog-alert #dialog-cancel,
#dialog.dialog-alert #dialog-input {
    display: none !important;
}

#dialog.dialog-spinner #dialog-message {
    padding: 40px 20px;
}

#dialog.dialog-spinner #dialog-buttons,
#dialog.dialog-spinner #dialog-input {
    display: none !important;
}

#dialog-buttons {
    display: flex;
    flex-flow: row;
    font-size: 1.6em;
}

.dialog-button {
    flex: 1;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #ebebeb;
}

.dialog-button:not(:first-child) {
    border-left: 1px solid #ebebeb;
}

.dialog-button:hover,
.dialog-button:active {
    background-color: #ebebeb;
    transition: all 0.1s ease-in;
}
