@font-face {
    font-family: FiraGO;
    font-style: normal;
    font-weight: normal;
    src:
        local("FiraGO Book"),
        url(../assets/FiraGO-Book.woff2) format("woff2");
}

@font-face {
    font-family: FiraGO;
    font-style: italic;
    font-weight: normal;
    src:
        local("FiraGO Book Italic"),
        url(../assets/FiraGO-BookItalic.woff2) format("woff2");
}

@font-face {
    font-family: FiraGO;
    font-style: normal;
    font-weight: 500;
    src:
        local("FiraGO SemiBold"),
        url(../assets/FiraGO-Medium.woff2) format("woff2");
}

@font-face {
    font-family: FiraGO;
    font-style: italic;
    font-weight: 500;
    src:
        local("FiraGO SemiBold Italic"),
        url(../assets/FiraGO-MediumItalic.woff2) format("woff2");
}

@font-face {
    font-family: FiraGO;
    font-style: normal;
    font-weight: bold;
    src:
        local("FiraGO SemiBold"),
        url(../assets/FiraGO-SemiBold.woff2) format("woff2");
}

@font-face {
    font-family: FiraGO;
    font-style: italic;
    font-weight: bold;
    src:
        local("FiraGO SemiBold Italic"),
        url(../assets/FiraGO-SemiBoldItalic.woff2) format("woff2");
}

@font-face {
    /* family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200 */
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url(../assets/MaterialSymbolsOutlined.woff) format("woff2");
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: FiraGo, sans-serif;
    font-size: 15px;
    color: #444;
    background-color: #f8f8f8;
}

h1 {
    font-size: 15px;
}

button {
    cursor: pointer;
}

button,
select {
    padding: 4px 8px;
    border: 1px solid silver;
    border-radius: 2px;
}

input[type="text"],
input[type="search"] {
    width: 40em;
    padding: 4px 8px;
    border: 1px solid silver;
    border-radius: 2px;
}

.hidden {
    display: none !important;
}

.material-icons {
    font-family: "Material Symbols Outlined", sans-serif;
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 20;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

body.loading *:not(#loading, #loading *, #dialog-wrapper, #dialog-wrapper *),
body:not(.loading) #loading {
    display: none;
}

#loading {
    margin: 16px;
}

#loading-stage {
    margin-top: 4px;
    font-size: 13px;
    font-style: italic;
}

.loading-spinner::after {
    display: block;
    width: 12px;
    height: 12px;
    content: " ";
    border: 3px solid #444;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.options-menu {
    font-weight: normal;
    text-align: left;
    white-space: collapse;
    user-select: none;
}

.options-menu p {
    margin: 0;
    font-size: 12px;
    color: #666;
}

.options-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.options-menu li {
    margin-top: 2px;
}

.options-menu li:hover,
.options-menu li.selected {
    color: #00bfbf;
}
