#nav {
    display: flex;
    padding-top: 2px;
    user-select: none;
    background: #28292a;
}

#nav .nav-button {
    padding: 4px 16px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

#nav #username {
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
}

#nav #key-button:hover {
    color: #5f9ea0;
}

#nav #key-button.authenticated {
    color: #daa520;
}

.tab-group {
    display: flex;
}

#nav .tab-group:not(:first-child) {
    margin-left: 24px;
}

.tab-group .tab:first-child {
    border-left: 1px solid #656565;
    border-top-left-radius: 2px;
}

.tab-group .tab:last-child {
    border-right: 1px solid #656565;
    border-top-right-radius: 2px;
}

.tab {
    padding: 0.5em 1em;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    border-top: 1px solid #656565;
    border-bottom: 1px solid #656565;
}

.tab.filler {
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
    cursor: default;
    border: none;
}

body:not(.global-error) #global-error {
    display: none;
}

body:not(.egg) #global-error .egg {
    display: none;
}

#global-error {
    font-size: 12px;
    color: #fa8072;
}

#global-error .egg {
    padding-left: 3px;
}

.tab:hover {
    color: #5f9ea0;
}

.tab.selected {
    color: #28292a;
    background-color: #f8f8f8;
    border-color: #28292a;
    border-width: 1px 1px 0;
    border-top: 1px solid #f8f8f8;
}

.tab-group .tab.selected:first-child {
    border-left: 1px solid #f8f8f8;
}

.tab-group .tab.selected:last-child {
    border-right: 1px solid #f8f8f8;
}

.tab:not(.selected) {
    border-bottom: 1px solid #28292a;
}

.tab.disabled {
    color: #656565;
}

#refresh-all-button {
    margin-left: 24px;
}

.content:not(.selected) {
    display: none;
}

.content {
    margin: 16px;
}
